<div class="container">
  <p>PRIMA DI PREMERE AGGIUNGI ESAME COMPILARE LE RISPOSTE</p>
  <div class="gridcontainer">
    <form #esameForm="ngForm" (ngSubmit)="aggiungiEsame(esameForm)" class="grid1">
      <label for="professore" class="label">Nome Professore</label>
      <input type="text"
             ngModel
             name="professore"
             id="professore"
             class="info"
             placeholder="Inserisci il nome del Docente"/>
      <label for="materia" class="label">Materia</label>
      <input type="text"
             ngModel
             name="materia"
             id="materia"
             class="info"
             placeholder="Inserisci la materia"/>
      <label for="data" class="label">Data</label>
      <input type="text"
             ngModel
             name="data"
             id="data"
             class="info"
             placeholder="Inserisci la data dell'esame"/>

      <div></div>
      <button type="submit" class="bottone">AGGIUNGI ESAME</button>
    </form>
    <div class="grid2">
      <input type="text"
             id="domanda"
             name="domanda"
             [(ngModel)]="domanda">
      <button type="button" (click)="aggiungiDomanda()">Aggiungi Domanda</button>
      <ul>
        <li *ngFor="let d of domande">{{ d }}</li>
      </ul>

      <input type="text"
             id="rispostaConsigliata"
             name="rispostaConsigliata"
             [(ngModel)]="rispostaConsigliata">
      <button type="button" (click)="aggiungiRispostaConsigliata()">Aggiungi Risposte Consigliate</button>
      <ul>
        <li *ngFor="let r of risposteConsigliate">{{ r }}</li>
      </ul>

      <input type="text"
            id="risposta"
            name="risposta"
            [(ngModel)]="risposta">
      <button type="button" (click)="aggiungiRisposta()">Aggiungi Risposta</button>
      <ul>
        <li *ngFor="let r of risposte">{{ r }}</li>
      </ul>
    </div>
  </div>


</div>
