.form{
  display: table-caption;
}

.container{
  margin-left: 5%;
  margin-top: 5%;
}

.primo{
  margin-top: 10%;
  height: 25px;
  font-size: medium;
}

.label{
  font-size: large;
  font-family: sans-serif;
}

.bottone{
  margin-top: 10%;
  cursor: pointer;
  font-family: sans-serif;
  font-size: medium;
}
