<div class="container" *ngIf="!fineesame">
  <p STYLE="font-family: sans-serif; font-size: large; color: red" >TIMER ESAME:  {{tempoEsame}} ;  FINE ESAME A {{tempoTotale}}</p>
  <p STYLE="font-family: sans-serif; font-size: large; color: red" >TIMER DOMANDA:  {{tempoTrascorso}}</p>
  <div class="domande">{{domande[i]}}</div>
  <div>
    <input type="text"
           class="risposte"
           id="risposta"
           name="risposta"
           [(ngModel)]="risposta">
    <div></div>
    <button type="button" (click)="aggiungiRisposta()" class="btn" >Aggiungi Risposta</button>
  </div>
</div>
<div class="container2" *ngIf="fineesame" >
  <p STYLE="font-family: sans-serif; font-size: large; color: red" > RISPOSTE: </p>
  <div class="rispfin" *ngFor="let rispostaf of risposteFinali; let i = index">[ {{rispostaf}} ]</div>

  <button type="button" class="btn2" (click)="inviaRisposte()">INVIA RISPOSTE</button>
</div>
