.container{
  margin-left: 5%;
  margin-top: 5%;
}

.gridcontainer{
  display: flex;
}

.grid1{
  display: grid;
}

.grid2{
  display: grid;
}

.info{
  margin-bottom: 5%;
  height: 25px;
  width: 300px;
}

.label{
  font-family: sans-serif;
  font-size: large;
}

.bottone{
  margin-top: 5%;
}

.grid2{
  margin-left: 2%;
  margin-top: 1%;
}


